@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  /*background-color: #242424;*/
}
.headerLinks {
  @apply cursor-pointer relative after:absolute after:bg-primaryGreen after:left-[50%] after:h-[0.150rem] after:w-[10%] after:transition-all after:duration-200  after:-bottom-1 hover:after:-left-1 after:opacity-0 hover:after:opacity-100 hover:after:w-[120%]
}
.headerLinkActive {
  @apply after:opacity-100 after:w-[120%] after:-left-1
}
